<h1>All Artists</h1>

<%= link_to "New artist", new_artist_path %>

<% @artists.each do |artist| %>
<p><%= link_to artist.name, artist_path(artist) %></p>
<p><%= image_tag artist.image_path %></p>
<% end %>
